/* button freemium to premium */

[trigger='popup-premium']:hover
  [data-wf--cc---global-button--mode-button---variables='is-tertiary'] {
  background-color: rgba(5, 123, 242, 0.07);
  color: var(--swatch--dark-blue-500);
}

[trigger='popup-premium']
  [data-wf--cc---global-button--mode-button---variables='is-tertiary']
  .button-icon {
  background-color: transparent;
}

/* button freemium - event */

[trigger='popup-premium']:hover
  [data-wf--cc---global-button--mode-button---variables='is-secondary-no-border'] {
  /* background-color: red; */
  outline: 1px solid var(--_brand---border--brand-light) !important;
}

[trigger='popup-premium']:hover
  [data-wf--cc---global-button--mode-button---variables='is-secondary-no-border']:hover {
  /* background-color: red; */
  outline: 1px solid var(--_brand---border--brand-dark) !important;
}
